<div class="componente-lista-usuarios">
  <div class="header-lista-usuario">
    <h2 style="text-align: left" class="titulo-lista-usuarios">Usuários Cadastrados</h2>

    <mat-form-field class="search-lista-usuario">
      <mat-icon matSuffix>search</mat-icon>
        <input matInput type="search" placeholder="search here" class="search-input">
      </mat-form-field>
  </div>

  <mat-card>
    <table mat-table [dataSource]="usuarios" class="tabela-lista-usuarios">

      <tr mat-header-row *matHeaderRowDef="colunas_table"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas_table;"></tr>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let usuario"  mask='000.000.000-00'> {{usuario.cpf}} </td>
      </ng-container>

      <ng-container matColumnDef="nascimento">
        <th mat-header-cell *matHeaderCellDef> Data de Nascimento </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.dt_nascimento}} </td>
      </ng-container>
    
      <ng-container matColumnDef="genero">
        <th mat-header-cell *matHeaderCellDef> Gênero </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.genero}} </td>
      </ng-container>
    
      <ng-container matColumnDef="funcao">
          <th mat-header-cell *matHeaderCellDef> Função </th>
          <td mat-cell *matCellDef="let usuario"> {{usuario.funcao.nome_funcao}} </td>
      </ng-container>
      
      <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let usuario">
            <button class="btn-acoes" mat-button [matMenuTriggerFor]="menu">...</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openDialog(usuario)">Visualizar</button>
              <button mat-menu-item (click)="deleteUsuario(usuario)">Excluir</button>
            </mat-menu>
          </td>
      </ng-container>
    </table>
  </mat-card>
</div>