.cadastro-card{
    margin: 5%;      
}

.cadastro-usuario-form {
    min-width: 150px;
    width: 100%;
}
  
.input-cadastro {
    width: 15%;
    margin: 0 3% 0% 3%;
}

.input-cadastro-nome {
    width: 25%;

}

.form-divider{
    margin-left: 5%;
}

.radio-funcao{
    margin-right: 1%;
}

.cadastro-funcao {
    text-align: left;
    margin-left: 5%;
}

.input-papel{
    display: block;
    margin-top: 2%;
    width: 50%;
}

.btn-salvar{
    margin-left: 3%;
    background-color: #008080;
    color: azure;
    width: 30%;
}